<div class="card">
    <div class="card-body">
        <h5 class="titulo">Listado de tarjetas</h5>
        <table class="table">
            <tbody>
                <tr *ngFor="let tarjeta of listTarjetas">
                    <td>{{tarjeta.titular}}</td>
                    <td>{{tarjeta.numeroTarjeta}}</td>
                    <td>{{tarjeta.fechaExpiracion}}</td>
                    <td><i (click)="editarTarjeta(tarjeta)" class="fa-solid text-info fa-pen-to-square"></i></td>
                    <td><i (click)="eliminarTarjeta(tarjeta.id)" class="fa-solid text-danger fa-trash"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
