<div class="card">
    <div class="card-body">
        <h5 class="titulo">Listado de tarjetas</h5>
        <table class="table">
            <tbody>
                <tr>
                    <td>José</td>
                    <td>123354555</td>
                    <td>02/23</td>
                    <td><i class="fa-solid text-info fa-pen-to-square"></i></td>
                    <td><i class="fa-solid text-danger fa-trash"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
